classes/
jars/
goat\.jar
config/passwords.properties
config/goatrc
resources/*.xml
resources/words.index
resources/zipcodes
resources/confessions.gz
resources/confessions/
resources/reminders
resources/adventureData/saves
resources/scores/
