# editor droppings
*~
\#*#
*.sw*

# actual project stuff
classes/
bin/
jars/
goat.jar
config/passwords.properties
config/goatrc
worksheet/
.worksheet/
worksheet.sc
resources/*.xml
resources/words.index
resources/zipcodes
resources/confessions.gz
resources/confessions/
resources/reminders
resources/adventureData/saves
resources/scores/
resources/goatdb.*
lib/cachedir/
.cache

# no idea why ensime poops this out
.ensime_lucene/

# thanks a lot, slashnet...
config/passwords.properties-before-slashnet-fuckup
