# this is your goat root.  since goat.sh doesn't work outside the root dir, pwd should do the trick
GOAT_HOME=`pwd`

# the java binary
JAVA=/usr/local/bin/java
# on OSX w/oracle jdk 7:
# JAVA=/usr/bin/java

# this is the path to scala-library.jar
SCALA_LIB=/usr/local/share/scala/lib/scala-library.jar
# on OSX w/homebrew:
# SCALA_LIB=/usr/local/Cellar/scala/2.10.0/libexec/lib/scala-library.jar
