# you will need to source this file, or set the environment variables somewhere in
# your dotfiles, before you run ant or goat.sh

# Set SCALA_LIBS to wherever scala-compiler.jar, scala-library.jar and friends live.

# This is what it would be in an ideal world:
export SCALA_LIBS=$SCALA_HOME/lib

# Use the above if you're using the scala distribustion directly, with your SCALA_HOME
# set up properly, or if your packaging system puts all of your scala stuff under a 
# single directory, like it should, and you've already set your SCALA_HOME to that dir.

# Otherwise...

# ubuntu.  Oh, ubuntu.
#export SCALA_LIBS=/usr/share/java

# freebsd.  In your .profile or what have you, set:
#export SCALA_HOME=/usr/local/share/scala
#export SCALA_LIBS=$SCALA_HOME/lib

# OSX w/homebrew.  fill in your <VERSION>, and in your .profile or similar do:
#export SCALA_HOME=/usr/local/Cellar/scala/<VERSION>/libexec
#export SCALA_LIBS=$SCALA_HOME/lib

# ...or else point goat to some alternate location directly:
#SCALA_LIBS=/usr/local/Cellar/scala/2.9.2/libexec/lib