### this is where goat lives
GOAT_HOME=`pwd`

### this is where java lives
JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64

### and this is the java binary
JAVA=$JAVA_HOME/bin/java                                # ubuntu
#JAVA=/usr/bin/java                                     # on OSX w/oracle jdk 7

### this is where scala lives
SCALA_HOME=/usr/share/java                              # ubuntu
#SCALA_HOME=/usr/local/share/scala                      # freebsd
#SCALA_HOME=/usr/local/Cellar/scala/2.10.0/libexec/     # on OSX w/homebrew

### this is where your important scala jars live
SCALA_LIBS=$SCALA_HOME                                  # ubuntu
#SCALA_LIBS=$SCALA_HOME/lib                             # everything else?

### You shouldn't need to change any of the following

# this is the path to scala-library.jar
SCALA_LIBRARY=$SCALA_LIBS/scala-library.jar

# this is the path to the scala-compiler.jar
SCALA_COMPILER=$SCALA_LIBS/scala-compiler.jar

### exports for build
export JAVA_HOME
export SCALA_COMPILER
export SCALA_LIBRARY

