#Sample goatrc file.  you'll need to copy this to config/goatrc
#
#Just add commands you would direct at goat here, and he will execute them on start up.
#
insmod Say all
insmod More all
#insmod GoatSay all
#insmod Confessions2 all
#insmod WordGame all
#insmod Uno #wordgame
#insmod Weather all
#insmod ZipCodes all
#insmod RandWords all
#insmod Psychiatrist all
#insmod Colours all
#insmod Define all
#insmod Threat all
#insmod Calc all
#insmod TODO all
#insmod Adventure #wordgame
#insmod Horoscope all
#insmod Remind all
#insmod CurrencyConverter all
#insmod StockQuote all
#insmod Quiz all
#insmod Google all
#insmod Bible all
#insmod BookTitle all
#insmod CountDown #wordgame
#insmod ShutUp all
#insmod Lastfm all
#insmod Etymology all
#insmod TwitterModule all
#insmod RottenTomatoes all
#insmod PlotMaker all
#insmod Bitcoin all
#insmod Github all
#insmod Stats.py all
#insmod Shorten.py all
# Don't insert Tumblr in all; we can't have ubu porning up goatblog
#insmod Tumblr.py #jism #wordgame #goat
#insmod TumblrIdle.py all

join #goat

#TwitterModule takes ages to instantiate, to ensure it is alive and receiving messages
##when trendsnotify command is issued, we sleep 225 seconds
#sleep 25000
#trendsnotify #goat


